{% extends 'base.html' %}
{% block title %}
Listagem de arquivos
{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Tamanho</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for arquivo in arquivos %}
        <tr>
            <th scope="row">{{arquivo.cod}}</th>
            <td>{{sys.getsizeof(arquivo.data)}}B</td>
            <td><a href={{url_for('binmostrar', cod=arquivo.cod)}} class="btn btn-primary">Visualizar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href={{url_for('binupload')}} class="btn btn-primary">Upload de arquivo binário</a>
<a href={{url_for('listar')}} class="btn btn-primary">Listagem de Arquivos</a>
{% endblock %}